.gauge {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gauge-body {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gauge-svg {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.gauge-value {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
